@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700');

/*HEADER*/

.logo {
    float: left;
    color: #29BDB4;
    text-decoration: none;
    display: inline;
    font-family: "Exo", sans-serif;
    background-color: #fafafa;
    border-radius: 25px;
    width: 300px;
    height: 90px;
    margin: 10px;
    opacity: 85%;
}

a:hover {
    text-decoration: none;
}

.col-md-8 {
    max-width: none;
    flex: none;
}

#logo {
    font-weight: 500;
    text-align: center;
    font-size: 64px;
    margin-top: 6.5px;
}

.logo:hover {
    text-decoration: none;
    color: #5B905A;
}

#e {
    color: #5B905A;
    font-weight: 500;
}

.pages {
    text-decoration: none;
    float: right;
    border-radius: 25px;
    text-align: center;
    width: 165px;
    height: 90px;
    font-weight: 500;
    margin: 10px 10px;
    font-family: "Exo", sans-serif;
}

.navbar {
    padding: 0;
    float: right;
}

span {
    color: #0C6A63;
}

.navbar-toggler {
    color: #0C6A63;
    background-color: #fafafa;
    padding: 1rem 2rem;
    height: 90px;
    margin: 10px 10px;
    border-radius: 25px;
}

#sign-up {
    background-color: #C7FFF8;
    height: 90px;
    padding: 1em;
    font-size: 24px;
}

#sign-up:hover {
    background-color: #0C6A63;
}

#sign-up:hover span {
    color: #00FFF0;
}

#classes {
    background-color: #C7FFF8;
    height: 90px;
    padding: 1em;
    font-size: 24px;
}

#classes:hover {
    background-color: #0C6A63;
    color: #00FFF0;
}

#classes:hover span {
    color: #00FFF0;
}

#benefits {
    background-color: #C7FFF8;
    height: 90px;
    padding: 1em;
    font-size: 24px;
}

#benefits:hover {
    background-color: #0C6A63;
    color: #00FFF0;
}

#benefits:hover span {
    color: #00FFF0;
}

#home {
    background-color: #C7FFF8;
    height: 90px;
    padding: 1em;
    font-size: 24px;
}

#home:hover {
    background-color: #0C6A63;
    color: #00FFF0;
}

#home:hover span {
    color: #00FFF0;
}

/*HERO IMAGE*/

#hero-image {
    height: 800px;
    width: 100%;
    background: url('/assets/images/68percent.jpeg') no-repeat center center;
    animation: none;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
  
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.01);
    }
}
  
#cover-text, #cover-text h2 {
    color: #0C6A63;
}
  
#cover-text {
    width: 310px;
    height: 200px;
    padding: 20px 20px;
    background-color: #C7FFF8;
    bottom: 60px;
    right: 150px;
    position: absolute;
    text-align: center;
    opacity: 85%;
    border-radius: 25px;
    font-family: "Exo", sans-serif;
}

h2 {
    font-size: 24px;
}

#cover-text-button {
    background-color: #00FFF0;
    color: #0F827B;
    border-radius: 25px;
    padding: 10px 10px;
    border: none;
    font-weight: 500;
}

#cover-text-button:hover {
    background-color: #0C6A63;
    color: #00FFF0;
}

/*WHO WE ARE*/

.who-we-are {
    background-color: #fafafa;
    border-radius: 25px;
    font-family: "Exo", sans-serif;
    padding: 30px 0 50px 0;
    margin: 20px;
}

h1 {
    text-align: center;
    font-size: 64px;
    padding: 20px;
}

.icons i {
    font-size: 32px;
}

#handshake {
    padding: 80px 0;
    margin-bottom: 0;
    float: right;
    margin-right: 25px;
}

#brain {
    padding: 100px 0;
    margin-bottom: 0;
    float: right;
    margin-right: 30px;
}

.p-box {
    padding: 20px 0;
    font-size: 24px;
}

/*SIGN UP PAGE*/

#signup-hero-image {
    height: 1800px;
    width: 100%;
    background: url('/assets/images/40percent.jpeg') no-repeat center center;
}
  
#signup-hero-outer {
    height: 1600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*FOOTER*/

footer {
    background-color: #fafafa;
    border-radius: 25px;
    margin: 20px;
}
  
.social-networks {
    text-align: center;
    padding: 0;
}

.social-networks li {
    display: inline;
}
  
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 30px 5%;
    color: #29BDB4;
}

.social-networks i:hover {
    color: #0C6A63;
}

footer p {
    padding-bottom: 50px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
}

footer p, footer ul {
    margin-bottom: 0;
}